/* ====================================================================
Project:  Tab Panel
Author:  Lone Mortensen
Description:  The Tab Panel features a collection of tabs and 
associated panels. The content of each panel is reflected in the tab 
label. The tabs are clickable and enable users to navigate between 
panels and their contents. All tabs remain visible at all times, but 
only one panel - the one associated with the active tab’s label - 
is showing at a time. 
Built with: JavaScript, HTML5, CSS3, and Flexbox.

===== *** =====

==================================================================== */

/* -------------------- Global Styles -------------------- */

/*Fonts:
Headings: 'Alata', sans-serif;
Subheadings: 'Alata', sans-serif;
Paragraph text, regular: 'Nunito Sans', sans-serif;
*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #313131; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #313131;
}

h1 {
    font-family: 'Alata', sans-serif;
    font-size: 2.85rem;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Layout - Structural Styles */

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
}

h1,
h2, 
h3 {
    margin: 0;
    width: 100%;
}
 
p {
    margin: 0;
}

/* Layout - Special Styles */


/* -------------------- Base Header-Footer Styles -------------------- */

/* HEADER */
/* FOOTER */


/* -------------------- Mobile Styles - Homepage -------------------- */

/* SKILLS - MOBILE */

#skills {
    padding: 80px 0px 80px 0px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
}

.main-title {
    text-align: center;
}

.title-line-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

.title-line {
    width: 25%;
    height: 1px;
    margin: 0;
    background: #313131;
    border: none;
}

.subtitle {
    text-align: center;
}

.tab-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tabs-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tab {
    padding: 20px 0px;
}

.tab a {
    padding: 22px 11px;
    font-size: 0.9rem;
}

.panels-list {
    width: 100%;
}

.panels {
    background: #e3e2df;
    padding: 30px 11px;
}

.panels h3 {
    margin-bottom: 10px;
}

/* START JavaScript: Tab highlight styling: */
.highlight-tab {
    font-weight: 700;
    background: #e3e2df;
}
/* END JavaScript */

/* START JavaScript: Hide/show panel styling: */
.hide-panels {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* END JavaScript */

/* -------------------------- Tablet Styles ------------------------- */

@media only screen and (min-width: 768px) {
    
    /* Global and Structural Styles - Tablet */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.85rem;
    }

    /* ------------- Tablet - Base Header-Footer Styles ------------- *
  
    /* HEADER - Tablet */
    /* FOOTER - Tablet */

    /* ---------------- Tablet Styles - Homepage ---------------- */
  
    /* SKILLS - Tablet */

    .title-line {
        width: 20%;
    }

    .tab a {
        padding: 22px 11px;
        font-size: 1rem;
    }
}    

/* -------------------------- Desktop Styles ------------------------- */

@media only screen and (min-width: 1200px) {
    
    /* Global and Structural Styles - Desktop */

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    h3 {
        font-size: 2.25rem;
    }

    /* ------------- Desktop - Base Header-Footer Styles ------------- *
  
    /* HEADER - Tablet */
    /* FOOTER - Tablet */

    /* ------------------ Desktop Styles - Homepage ------------------ */
  
    /* SKILLS - DESKTOP */

    .tab-panel-wrapper {
        margin: 80px 0px 30px 0px;
    }

    .tab a {
        padding: 22px 20px;
        font-size: 1.4rem;
    }

    .panels {
        padding: 30px 20px;
    }
}
