/* ====================================================================
Project:  Tab Panel
Author:  Lone Mortensen
Description:  TBD

===== *** =====

==================================================================== */

/* -------------------- Global Styles -------------------- */

/*Fonts:
Headings: 'Alata', sans-serif;
Subheadings: 'Alata', sans-serif;
Paragraph text, regular: 'Nunito Sans', sans-serif;
*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #313131; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #313131;
}

h1 {
    font-family: 'Alata', sans-serif;
    font-size: 2.85rem;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Layout - Structural Styles */

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
}

h1,
h2, 
h3 {
    margin: 0;
    width: 100%;
}
 
p {
    margin: 0;
}

/* Layout - Special Styles */



/* -------------------- Base Header-Footer Styles -------------------- */

/* HEADER */
/* FOOTER */


/* -------------------- Mobile Styles - Homepage -------------------- */

/* SKILLS - MOBILE */

#skills {
    padding: 80px 0px 80px 0px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
}

.main-title {
    text-align: center;
}

.title-line {
    width: 100%;
    height: 1px;
    margin: 20px 170px 20px 170px;
    background: #313131;
    border: none;
}

.subtitle {
    text-align: center;
}

.tab-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tabs-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tab {
    padding: 20px 0px;
}

.tab a {
    font-size: 0.9rem;
}

.panels {
    background: #e3e2df;
    padding: 30px 20px;
}

.panels h3 {
    margin-bottom: 10px;
}

/* START JavaScript: Tab highlight styling: */
.highlight-tab {
    padding: 22px 8px;
    font-weight: 700;
    background: #e3e2df;
}
/* END JavaScript */

/* START JavaScript: Hide/show panel styling: */
.hide-panels {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* END JavaScript */

/* -------------------------- Tablet Styles ------------------------- */

@media only screen and (min-width: 768px) {
    
    /* Global and Structural Styles - Tablet */

    /* ------------- Tablet - Base Header-Footer Styles ------------- *
  
    /* HEADER - Tablet */
    /* FOOTER - Tablet */

    /* ---------------- Tablet Styles - Homepage ---------------- */
  
    /* SKILLS - Tablet */

}    

/* -------------------------- Desktop Styles ------------------------- */

@media only screen and (min-width: 1200px) {
    
    /* Global and Structural Styles - Desktop */

    /* ------------- Desktop - Base Header-Footer Styles ------------- *
  
    /* HEADER - Tablet */
    /* FOOTER - Tablet */

    /* ------------------ Desktop Styles - Homepage ------------------ */
  
    /* SKILLS - DESKTOP */

}    